<div
  class="w-full h-full p-3 pb-5 primary-background-light"
  style="overflow-y: scroll"
  *ngIf="world.ground"
>
  <!-- <div class="w-full pb-3">
  <p class="w-full mb-3 font-medium primary-text">
    {{ toggle.checked ? "Visible" : "Hidden" }}
  </p>
  <div class="px-1">
    <mat-slide-toggle
      #toggle
      [checked]="!world.sky.hidden"
      (change)="world.sky.hidden = !$event.checked"
    ></mat-slide-toggle>
  </div>
</div> -->

  <div class="wrap-input1 w-full py-3 px-0">
    <div class="w-full pb-3">
      <div class="px-1">
        <verticalai-text-field
          [title]="'Max Height'"
          [type]="'number'"
          [theme]="'light'"
          [range]="{ min: 10, max: 100000 }"
          [value]="world.ground.maxHeight"
          [placeholder]="'Max Height'"
          (changed)="world.ground.maxHeight = $event; save()"
        >
        </verticalai-text-field>
      </div>
    </div>
  </div>
</div>
