<div
  class="layout-container-full animate__animated animate__fadeIn primary-background flex flex-col"
>
  <div
    class="w-full h-[55px] shrink-0 py-2 pe-2 bg-gradient-to-r from-cyan-300 to-indigo-500 shadow-sm flex justify-center items-center"
  >
    <div class="w-full h-full flex justify-between">
      <!-- <img class="h-full" [src]="'assets/logo_full.png'" /> -->

      <div
        class="h-full proj flex justify-center items-center w-[75px] px-2"
        role="button"
      >
        <div
          class="primary-text-dark h-full w-full flex justify-center items-center rounded hover:bg-cyan-200/25"
          role="button"
          #menuToggle
        >
          <mat-icon class="scale-150" [svgIcon]="'unfathom_icon'"></mat-icon>
        </div>
      </div>

      <!--  -->
      <button
        class="btn rounded bg-cyan-50 text-slate-950 flex justify-between items-center"
      >
        <ng-icon
          class="font-bold me-2"
          name="heroArrowUpTray"
          [strokeWidth]="2.2"
        >
        </ng-icon>

        Share
      </button>
    </div>
  </div>
  <div class="h-full w-full flex justify-between" *ngIf="world">
    <app-menu-sidebar
      #sidebar
      [mode]="mode"
      (modeChanged)="openBar = true; mode = $event"
    ></app-menu-sidebar>
    <div
      class="h-full w-[500px] primary-background-dark {{
        openBar ? 'flex' : 'hidden'
      }} justify-between items-center"
    >
      <ng-container
        *ngIf="
          mode == 'design' || mode == 'uploads' || mode == 'elements';
          else submenu
        "
      >
        <div class="h-full w-full primary-background-dark overflow-scroll">
          <app-design *ngIf="mode == 'design'"> </app-design>
          <app-uploads *ngIf="mode == 'uploads'"> </app-uploads>
          <app-elements *ngIf="mode == 'elements'"> </app-elements>
        </div>

        <div class="h-full flex flex-col justify-center primary-text-dark">
          <ng-icon
            class="font-bold my-auto"
            name="heroChevronLeft"
            [strokeWidth]="2.2"
            role="button"
            (click)="
              openBar = false; mode = undefined; sidebar.mode = undefined
            "
          >
          </ng-icon>
        </div>
      </ng-container>

      <ng-template #submenu>
        <div class="h-full w-full primary-background-light overflow-scroll">
          <!-- <app-world-module (changed)="changed.emit($event)">
            </app-world-module> -->

          <ng-container *ngIf="mode == 'position'">
            <div class="w-100 p-3 primary-background-light">
              <p class="text-black font-medium">Arrange</p>
            </div>

            <ng-container *ngIf="selected; else noSelect">
              <ng-container
                *ngIf="selected | findString : editableMeshes; else dynamicMenu"
              >
                <app-sky-edit *ngIf="selected == 'sky'"></app-sky-edit>
                <app-liquid-edit
                  *ngIf="selected == 'lava' || selected == 'water'"
                ></app-liquid-edit>
                <app-ground-edit *ngIf="selected == 'ground'"></app-ground-edit>
              </ng-container>

              <ng-template #dynamicMenu>
                <app-asset-module [assetId]="selected"></app-asset-module>
              </ng-template>
            </ng-container>

            <ng-template #noSelect>
              <app-sky-edit></app-sky-edit>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="mode == 'edit' && selected">
            textures
            <!-- <app-asset-module [assetId]="selected"></app-asset-module> -->
          </ng-container>
        </div>
      </ng-template>
    </div>
    <div class="h-full w-full">
      <div
        class="w-full shadow h-[50px] primary-background-light flex justify-start items-center p-1 px-2"
      >
        <div class="bg-transparent flex justify-between items-center">
          <ng-container *ngIf="selected">
            <button
              class="btn rounded hover:bg-slate-200 {{
                mode == 'edit' ? 'bg-slate-200' : 'bg-transparent'
              }} text-black flex justify-between items-center me-2"
              *ngIf="selected | findString : editableMeshes; else meshtools"
              (click)="mode == 'edit' ? (mode = 'design') : (mode = 'edit')"
            >
              Edit mesh
            </button>

            <ng-template #meshtools>
              <div
                class="rounded-full overflow-hidden border-table-light flex justify-between items-center space-x-1 p-1 me-2"
              >
                <button
                  class="btn p-2 h-100 {{
                    selectedTool == tool.id
                      ? 'bg-indigo-500 text-white'
                      : 'bg-transparent text-black hover:bg-indigo-300 hover:text-white'
                  }} flex justify-between items-center rounded-full"
                  *ngFor="let tool of tools"
                  (click)="selectTool(tool.id)"
                >
                  <ng-icon
                    class="font-bold"
                    [name]="tool.icon"
                    [strokeWidth]="2.2"
                  >
                  </ng-icon>
                </button>
              </div>
            </ng-template>
          </ng-container>

          <button
            class="btn rounded hover:bg-slate-200 {{
              mode == 'position' ? 'bg-slate-200' : 'bg-transparent'
            }} text-black flex justify-between items-center"
            (click)="
              mode == 'position' ? (mode = 'design') : (mode = 'position')
            "
          >
            <!-- <ng-icon
            class="font-bold me-2"
            name="heroArrowUpTray"
            [strokeWidth]="2.2"
          >
          </ng-icon> -->

            Position
          </button>
        </div>
      </div>
      <app-world-viewer *ngIf="world" [project]="world"></app-world-viewer>
    </div>
  </div>
</div>
