<div
  class="layout-container-full animate__animated animate__fadeIn primary-background flex flex-col items-center"
>
  <div
    class="w-full h-[55px] shrink-0 py-2 pe-2 bg-gradient-to-r from-cyan-300 to-indigo-500 shadow-sm flex justify-center items-center"
  >
    <div class="w-full h-full flex justify-between" *ngIf="world">
      <!-- <img class="h-full" [src]="'assets/logo_full.png'" /> -->

      <div
        class="h-full proj flex justify-center items-center w-[75px] px-2"
        role="button"
      >
        <div
          class="primary-text-dark h-full w-full flex justify-center items-center rounded hover:bg-cyan-200/25"
          role="button"
          #menuToggle
        >
          <mat-icon class="scale-150" [svgIcon]="'unfathom_icon'"></mat-icon>
        </div>
      </div>

      <!--  -->

      <div class="flex h-full justify-end items-center">
        <input
          #input
          (ngModelChange)="
            $event.length > 0 && $event != '' ? saveName(world, $event) : null
          "
          [style.width.px]="
            world.name.length > 10 ? world.name.length * 12 : 10 * 8
          "
          class="text-sm text-center rounded title-field h-full font-medium truncate cursor-text bg-transparent border-0 me-2 px-3 text-slate-50"
          [ngModel]="world.name"
        />
        <button
          class="btn rounded bg-indigo-400 text-slate-50 flex justify-between items-center me-2 h-full"
          (click)="presentScene()"
        >
          <ng-icon
            class="font-bold me-2"
            name="bootstrapPlayBtnFill"
            [strokeWidth]="2.2"
          >
          </ng-icon>

          Present
        </button>

        <button
          class="btn rounded bg-cyan-50 text-slate-950 flex justify-between items-center h-full"
          [mdbPopover]="world ? shareTemplate : null"
          #shareMenuBtn
          placement="bottom"
          [trigger]="'click'"
        >
          <ng-icon
            class="font-bold me-2"
            name="heroArrowUpTray"
            [strokeWidth]="2.2"
          >
          </ng-icon>

          Share
        </button>
      </div>

      <ng-template #shareTemplate>
        <div
          class="p-4 w-[425px] bg-white rounded shadow-2xl me-2"
          (clickOutside)="shareMenuBtn.click()"
        >
          <p class="w-full text-start font-semibold text-lg">
            Share this design
          </p>

          <div class="w-full mt-2">
            <verticalai-text-field
              [title]="'View-only link'"
              [type]="'text'"
              [disabled]="true"
              [value]="worldLink"
              [btn]="true"
              [btnIcon]="'featherCopy'"
              (btnClicked)="copy()"
              [placeholder]="'Link'"
            >
            </verticalai-text-field>
            <button
              class="w-full btn rounded bg-violet-600 hover:bg-violet-500 text-slate-50 flex justify-center items-center py-3 mt-2"
              (click)="copy()"
            >
              {{ copied ? "Copied" : "Copy link" }}
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="layout-container flex justify-between shrink" *ngIf="world">
    <app-menu-sidebar
      #sidebar
      [mode]="mode"
      (modeChanged)="openBar = true; mode = $event"
    ></app-menu-sidebar>
    <div
      class="h-full w-[330px] shrink-0 primary-background-dark {{
        open ? 'flex' : 'hidden'
      }} justify-between items-center"
    >
      <ng-container
        *ngIf="
          mode == 'design' || mode == 'uploads' || mode == 'elements';
          else submenu
        "
      >
        <div class="h-full w-full primary-background-dark">
          <app-design *ngIf="mode == 'design'"> </app-design>
          <app-uploads *ngIf="mode == 'uploads'"> </app-uploads>
          <app-elements *ngIf="mode == 'elements'"> </app-elements>
        </div>

        <div class="h-full flex flex-col justify-center primary-text-dark">
          <ng-icon
            class="font-bold my-auto"
            name="heroChevronLeft"
            [strokeWidth]="2.2"
            role="button"
            (click)="
              openBar = false; mode = undefined; sidebar.mode = undefined
            "
          >
          </ng-icon>
        </div>
      </ng-container>

      <ng-template #submenu>
        <div class="h-full w-full primary-background-light overflow-scroll">
          <!-- <app-world-module (changed)="changed.emit($event)">
            </app-world-module> -->

          <ng-container *ngIf="mode == 'position'">
            <div class="w-100 p-3 primary-background-light">
              <p class="text-black font-medium">Arrange</p>
            </div>

            <ng-container *ngIf="selected; else noSelect">
              <ng-container
                *ngIf="selected | findString : editableMeshes; else dynamicMenu"
              >
                <app-sky-edit *ngIf="selected == 'sky'"></app-sky-edit>
                <app-ground-edit *ngIf="selected == 'ground'"></app-ground-edit>
              </ng-container>

              <ng-template #dynamicMenu>
                <app-asset-module></app-asset-module>
              </ng-template>
            </ng-container>

            <ng-template #noSelect>
              <app-sky-edit></app-sky-edit>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="mode == 'edit' && selected">
            textures
            <!-- <app-asset-module [assetId]="selected"></app-asset-module> -->
          </ng-container>
        </div>
      </ng-template>
    </div>
    <div class="h-full w-full flex flex-col justify-between items-center">
      <div
        class="w-full shadow h-[50px] primary-background-light flex shrink-0 justify-between items-center p-1 px-2"
      >
        <div class="bg-transparent flex justify-start items-center h-full">
          <ng-container *ngIf="selected">
            <ng-container
              *ngIf="selected | findString : editableMeshes; else meshtools"
            >
              <!-- <button
              class="btn rounded hover:bg-slate-200 {{
                mode == 'edit' ? 'bg-slate-200' : 'bg-transparent'
              }} text-black flex justify-between items-center me-2"
              (click)="mode == 'edit' ? (mode = defaultMode) : (mode = 'edit')"
            >
              Edit mesh
            </button> -->
            </ng-container>

            <ng-template #meshtools>
              <div
                class="rounded-full overflow-hidden border-table-light flex justify-between items-center space-x-1 p-1 me-2 shrink-0"
              >
                <button
                  class="btn p-2 h-full {{
                    selectedTool == tool.id
                      ? 'bg-indigo-500 text-white'
                      : 'bg-transparent text-black hover:bg-indigo-300 hover:text-white'
                  }} flex justify-between items-center rounded-full"
                  *ngFor="let tool of tools"
                  (click)="selectTool(tool.id)"
                >
                  <ng-icon
                    class="font-bold"
                    [name]="tool.icon"
                    [strokeWidth]="2.2"
                  >
                  </ng-icon>
                </button>
              </div>

              <div class="flex items-center justify-center">
                <button
                  class="btn p-2 h-100 bg-transparent text-black hover:bg-indigo-300 hover:text-white flex justify-between items-center rounded-full mx-2"
                  (click)="deleteAsset(selected)"
                >
                  <ng-icon
                    class="font-bold"
                    [name]="'heroTrash'"
                    [strokeWidth]="2.2"
                  >
                  </ng-icon>
                </button>
              </div>
            </ng-template>
          </ng-container>

          <button
            class="btn rounded font-medium text-sm hover:bg-slate-200 {{
              mode == 'position' ? 'bg-slate-200' : 'bg-transparent'
            }} text-black flex justify-between items-center"
            (click)="
              mode == 'position' ? (mode = defaultMode) : (mode = 'position')
            "
          >
            Position
          </button>
        </div>
        <button
          class="btn p-2 h-100 {{
            world.locked
              ? 'bg-indigo-500 text-white'
              : 'bg-transparent text-black hover:bg-indigo-300 hover:text-white'
          }} flex justify-between items-center rounded-full"
          (click)="world.locked = !world.locked; save()"
        >
          <ng-icon
            class="font-bold"
            [name]="world.locked ? 'heroLockClosed' : 'heroLockOpen'"
            [strokeWidth]="2.2"
          >
          </ng-icon>
        </button>
      </div>

      <div
        class="w-full h-full relative flex flex-col justify-between items-center"
      >
        <div class="w-full h-full">
          <app-world-viewer *ngIf="world" [project]="world"></app-world-viewer>
        </div>
      </div>
    </div>
  </div>
</div>
