<div class="w-full p-3 h-full flex flex-col justify-between items-center">
  <div class="w-full pb-3 mb-3 mt-4 primary-text border-table-bottom-dark">
    <app-searchbar
      [value]="loadingSearch"
      [loadingSearch]="loadingSearch"
      [placeholder]="'Type to create with AI...'"
      (search)="runAI($event)"
    ></app-searchbar>
  </div>
  <div class="h-full w-full overflow-scroll">
    <div class="w-full grid grid-cols-2 justify-start g-0">
      <div
        *ngFor="let asset of assets ?? []; index as i"
        class="col p-1 relative"
      >
        <div
          class="flex justify-between items-center flex-col bg-transparent shadow-hover"
          style="overflow: hidden"
          role="button"
          (click)="(null)"
          [matTooltip]="asset.name"
        >
          <div class="w-full aspect-video pointer-events-none object-cover">
            <img class="w-full h-full" [src]="asset.img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
