<div class="w-100 h-100 p-3" *ngIf="workflow && character && characterDetails">
  <div class="w-100 pb-3">
    <p class="w-100 mb-3 primary-text fw-bold">Spawn Point</p>

    <div class="w-100 pb-3 row row-cols-3 justify-content-center g-0">
      <div class="col px-1">
        <verticalai-text-field
          [title]="'X'"
          [type]="'number'"
          [range]="{ min: -100000, max: 100000 }"
          [value]="characterDetails['spawn'].x"
          [placeholder]="'Spawn (X)'"
          (changed)="characterDetails['spawn'].x = $event; save()"
        >
        </verticalai-text-field>
      </div>
      <div class="col px-1">
        <verticalai-text-field
          [title]="'Y'"
          [type]="'number'"
          [range]="{ min: -100000, max: 100000 }"
          [value]="characterDetails['spawn'].y"
          [placeholder]="'Spawn (Y)'"
          (changed)="characterDetails['spawn'].y = $event; save()"
        >
        </verticalai-text-field>
      </div>
      <div class="col px-1">
        <verticalai-text-field
          [title]="'Z'"
          [type]="'number'"
          [range]="{ min: -100000, max: 100000 }"
          [value]="characterDetails['spawn'].z"
          [placeholder]="'Spawn (Z)'"
          (changed)="characterDetails['spawn'].z = $event; save()"
        >
        </verticalai-text-field>
      </div>
    </div>
  </div>

  <div class="w-100 pb-3">
    <p class="w-100 mb-3 primary-text fw-bold">Direction (°)</p>

    <div class="w-100 pb-3 row row-cols-3 justify-content-center g-0">
      <div class="col px-1">
        <verticalai-text-field
          [title]="'X'"
          [type]="'number'"
          [range]="{ min: -100000, max: 100000 }"
          [value]="characterDetails['direction'].x"
          [placeholder]="'Direction (X)'"
          (changed)="characterDetails['direction'].x = $event; save()"
        >
        </verticalai-text-field>
      </div>
      <div class="col px-1">
        <verticalai-text-field
          [title]="'Y'"
          [type]="'number'"
          [range]="{ min: -100000, max: 100000 }"
          [value]="characterDetails['direction'].y"
          [placeholder]="'Direction (Y)'"
          (changed)="characterDetails['direction'].y = $event; save()"
        >
        </verticalai-text-field>
      </div>
      <div class="col px-1">
        <verticalai-text-field
          [title]="'Z'"
          [type]="'number'"
          [range]="{ min: -100000, max: 100000 }"
          [value]="characterDetails['direction'].z"
          [placeholder]="'Direction (Z)'"
          (changed)="characterDetails['direction'].z = $event; save()"
        >
        </verticalai-text-field>
      </div>
    </div>
  </div>

  <div class="w-100 pb-3">
    <verticalai-layout-slider
      [value]="(characterDetails['scale'] ?? 1) * 10"
      [title]="'Scale'"
      [min]="5"
      [max]="1000"
      [step]="10"
      [lineFillColor]="'#0A99FF'"
      (valueChange)="characterDetails['scale'] = $event / 10; save()"
    >
    </verticalai-layout-slider>
  </div>
</div>
