<div
  class="w-100 h-100 d-flex justify-content-center align-items-start"
  #parent
>
  <div
    class="w-100 h-100 d-flex justify-content-between align-items-center section-background"
  >
    <div class="w-100 h-100" id="container"></div>

    <div
      *ngIf="selectedFile"
      class="h-100 border-table-left"
      style="width: 300px !important"
    >
      <div class="primary-background h-100 w-100" [hidden]="!selectedFile">
        <!-- <mat-tab-group
          #menu
          class="w-100 h-100"
          dynamicHeight
          animationDuration="0ms"
        > -->
        <!-- <mat-tab class="tab">
            <ng-template mat-tab-label>
              <span class="primary-text"> Design </span>
            </ng-template>
            <ng-template matTabContent> -->
        <div
          class="h-100 d-flex justify-content-center align-items-center flex-column position-relative"
        >
          <div class="w-100 h-100 p-3" style="overflow-y: scroll">
            <div class="w-100 pb-3">
              <p class="w-100 mb-3 fw-bold primary-text">Image</p>

              <div
                class="position-relative d-flex justify-content-center align-items-center w-100 secondary-background"
                style="aspect-ratio: 1"
                role="button"
                (click)="sceneImg.click()"
              >
                <ng-container
                  *ngIf="
                    selectedFile.data.ngArguments.scene.images[0] as img;
                    else emptyImg
                  "
                >
                  <img class="w-100 rounded position-absolute" [src]="img" />
                  <div
                    class="w-100 h-100 position-absolute d-flex justify-content-center align-items-center img-show"
                    style="z-index: 1"
                  >
                    <mat-icon class="m-auto primary-text">
                      upload_file
                    </mat-icon>
                  </div>
                </ng-container>

                <ng-template #emptyImg>
                  <div
                    class="w-100 h-100 d-flex justify-content-center align-items-center flex-column p-3 empty-img-show"
                  >
                    <ion-icon
                      class="primary-text h1"
                      name="image-outline"
                    ></ion-icon>
                    <span
                      class="mt-2 h5 primary-text w-100 text-truncate text-center"
                      >No Image</span
                    >
                  </div>
                </ng-template>
              </div>

              <input
                #sceneImg
                type="file"
                (change)="fileChangeEvent($event)"
                style="display: none"
              />
            </div>

            <div class="w-100 pb-3">
              <verticalai-text-field
                [title]="'Name'"
                [value]="selectedFile.data.ngArguments.scene.name"
                [placeholder]="'Scene Name'"
                (changed)="
                  updateCellName(selectedFile.id!, $event); saveLayout()
                "
              >
              </verticalai-text-field>
            </div>

            <div class="w-100 pb-3">
              <verticalai-textbox
                [title]="'Description'"
                [value]="selectedFile.data.ngArguments.scene.description"
                [placeholder]="'Scene Description'"
                (changed)="
                  updateCellDesc(selectedFile.id!, $event); saveLayout()
                "
              >
              </verticalai-textbox>
            </div>

            <!-- <ng-container
                *ngIf="
                  selectedFile.type == 'gpt-LLM' ||
                  selectedFile.type == 'switch' ||
                  selectedFile.type == 'dalle-TIM'
                "
              >
                <div class="w-100 pb-3">
                  <verticalai-textbox
                    [title]="'Guidance'"
                    [value]="selectedFile.properties['systemPrompt']"
                    [placeholder]="placeholders[selectedFile.type]"
                    (changed)="
                      selectedFile.properties['systemPrompt'] = $event;
                      saveLayout()
                    "
                  >
                  </verticalai-textbox>
                </div>
  
                <div
                  class="w-100 pb-3"
                  *ngIf="
                    selectedFile.type == 'gpt-LLM' ||
                    selectedFile.type == 'dalle-TIM'
                  "
                >
                  <verticalai-layout-slider
                    [value]="selectedFile.properties['temp'] ?? 0.5"
                    [title]="'Creativity Level'"
                    [lineFillColor]="'#0A99FF'"
                    (valueChange)="
                      selectedFile.properties['temp'] = $event; saveLayout()
                    "
                  >
                  </verticalai-layout-slider>
                </div>
  
                <ng-container *ngIf="selectedFile.type == 'switch'">
                  <ng-container
                    *ngIf="selectedFile | cast : BranchedStep as branchStep"
                  >
                    <div
                      class="w-100 d-flex justify-content-between align-content-center pb-3 mb-3 mt-4 primary-text border-table-bottom"
                    >
                      <p class="w-100 fw-bold">Decision Paths</p>
                      <mat-icon
                        class="m-auto primary-text"
                        role="button"
                        (click)="newBranch(branchStep)"
                      >
                        add
                      </mat-icon>
                    </div>
  
                    <div class="w-100">
                      <div
                        *ngFor="
                          let branch of (branchStep.branches | dictToArr) ??
                            [];
                          index as i
                        "
                        class="pb-4 d-flex justify-content-between align-items-center"
                      >
                        <div class="primary-text">
                          {{ branch.name }}
                        </div>
  
                        <div
                          class="btn bg-orange shadow-0 text-white fw-bold rounded d-flex p-1 justify-content-center align-items-center"
                          (click)="
                            onRightClick($event, branch.name, branchStep)
                          "
                        >
                          <ion-icon
                            class="m-auto"
                            [name]="'settings-outline'"
                            slot="end"
                            role="button"
                            [matTooltip]="'Actions'"
                          ></ion-icon>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
  
                <ng-container *ngIf="selectedFile.type == 'gpt-LLM'">
                  <ng-container
                    *ngIf="
                      selectedFile.properties['training'] ??
                      'none' as training
                    "
                  >
                    <div class="w-100 pb-3">
                      <verticalai-select-field
                        [title]="'Training'"
                        [value]="training ?? trainingTypes[0].id"
                        [data]="trainingTypes"
                        [valueField]="'id'"
                        [displayField]="'name'"
                        (changed)="
                          selectedFile.properties['training'] = $event;
                          saveLayout()
                        "
                      >
                      </verticalai-select-field>
                    </div>
  
                    <div class="w-100 pb-3" *ngIf="training != 'none'">
                      <verticalai-select-field
                        *ngIf="
                          loadedDocs && loadedDocs.length > 0;
                          else empty
                        "
                        [title]="'Training Data'"
                        [value]="
                          selectedFile.properties['autoId'] ?? loadedDocs[0]
                        "
                        [data]="loadedDocs"
                        (changed)="
                          selectedFile.properties['autoId'] = $event;
                          saveLayout()
                        "
                      >
                      </verticalai-select-field>
  
                      <ng-template #empty>
                        <verticalai-select-field
                          [title]="'Training Data'"
                          [value]="'No Data'"
                          [data]="['No Data']"
                        >
                        </verticalai-select-field>
                      </ng-template>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
  
              <ng-container *ngIf="selectedFile.type == 'container'">
                <div
                  class="w-100 d-flex justify-content-center align-items-center"
                  style="height: 400px"
                >
                  <div class="secondary-text">
                    No settings for this controller
                  </div>
                </div>
              </ng-container>
  
              <ng-container
                *ngIf="
                  (
                    models[(selectedFile.type | split : '-')[1]] ??
                    { models: {} }
                  ).models[selectedFile.type]?.variations as variations
                "
              >
                <div class="w-100 pb-3" *ngIf="variations.length > 0">
                  <verticalai-select-field
                    [title]="'Type'"
                    [value]="
                      selectedFile.properties['engine'] ??
                      variations[0]?.id ??
                      ''
                    "
                    [data]="variations"
                    [valueField]="'id'"
                    [displayField]="'name'"
                    (changed)="
                      selectedFile.properties['engine'] = $event; saveLayout()
                    "
                  >
                  </verticalai-select-field>
                </div>
              </ng-container> -->

            <button
              class="btn bg-orange w-100 border-0 rounded fw-bold text-white d-flex justify-content-center px-3 align-content-center py-2 mt-4"
              (click)="selectWorld(selectedFile.data.ngArguments.scene)"
            >
              <!-- <ng-container *ngIf="loading; else buttonTitles">
                      <span class="mx-auto">
                        {{ "Saving" }}
                        <span
                          class="spinner-border spinner-border-sm ms-2 m-auto"
                          role="status"
                          aria-hidden="true"
                        ></span>
                      </span>
                    </ng-container> -->

              <!-- <ng-template #buttonTitles> -->
              <ng-container> {{ "Explore World" }}</ng-container>
              <!-- </ng-template> -->
            </button>
          </div>
        </div>
        <!-- </ng-template>
          </mat-tab> -->

        <!-- <mat-tab class="tab">
            <ng-template mat-tab-label>
              <span class="primary-text"> Characters </span>
            </ng-template>
            <ng-template matTabContent>
              <div
                class="h-100 d-flex justify-content-center align-items-center flex-column position-relative"
              >
                <div class="w-100 h-100 p-3" style="overflow-y: scroll">
                  <div class="w-100 pb-3">
                    <verticalai-textbox
                      [title]="'Controller Notes'"
                      [value]="selectedFile['notes']"
                      [placeholder]="'Type something...'"
                      [minHeight]="200"
                      [maxHeight]="800"
                      (changed)="selectedFile['notes'] = $event; saveLayout()"
                    >
                    </verticalai-textbox>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab> -->
        <!-- </mat-tab-group> -->
      </div>
    </div>
  </div>

  <!-- <div class="px-0 mx-0" [style.width.px]="parent.clientWidth">
    <ng-scrollbar
      class="scroller"
      [thumbClass]="'scrollbar-thumb'"
      [autoWidthDisabled]="false"
      [visibility]="'always'"
      [appearance]="'compact'"
      [track]="'horizontal'"
      style="height: 40px"
    >
      <div
        class="secondary-background d-flex justify-content-start align-items-center"
        style="height: 40px"
      >
        <div
          class="bg-transparent"
          style="height: 40px"
          [style.width.px]="frame.clientWidth / 5"
          *ngFor="let item of workflow?.scenes ?? []"
          [style.background-image]="'url(' + item.images[0] + ')'"
          [style.background-repeat]="'repeat-x'"
          [style.background-size]="'contain'"
        ></div>
      </div>
    </ng-scrollbar>

    <div class="w-100 d-flex justify-content-between align-items-center px-3 primary-text">
    <div class="h-100" style="aspect-ratio: 1">
      <mat-icon> chevron_left </mat-icon>
    </div>
    <div class="w-100 h-100" style="flex-grow: 1"></div>
    <div class="h-100" style="aspect-ratio: 1">
      <mat-icon> chevron_right </mat-icon>
    </div>
  </div>
  </div>
</div>

<div class="position-fixed bg-info" style="width: 100px; height: 100px; z-index: 1;">

</div>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<!-->
