<mat-tab-group
  #menu
  class="h-full w-full pt-1"
  [fitInkBarToContent]="true"
  animationDuration="0ms"
  [(selectedIndex)]="selected"
>
  <mat-tab class="tab w-full h-full" *ngFor="let c of categories; index as i">
    <ng-template mat-tab-label>
      <span
        class="font-medium text-[12px] {{
          selected == i ? 'text-slate-50' : 'text-slate-400'
        }}"
      >
        {{ c.name }}
      </span>
    </ng-template>
    <ng-template matTabContent>
      <div class="h-full w-full">
        <ng-container
          *ngTemplateOutlet="view; context: { $implicit: c.id }"
        ></ng-container>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #view let-mode>
  <app-asset-view-module
    *ngIf="mode == 'assets'"
    [mode]="'elements'"
  ></app-asset-view-module>

  <app-materials-view-module *ngIf="mode == 'materials'">
  </app-materials-view-module>

  <app-substance-view-module *ngIf="mode == 'substance'">
  </app-substance-view-module>

  <app-sky-view *ngIf="mode == 'skies'"> </app-sky-view>
</ng-template>
