<div
  class="w-100 h-100 d-flex flex-column justify-content-between align-items-center primary-background-dark"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  style="overflow: hidden"
>
  <div
    class="w-100 d-flex justify-content-between align-items-center px-3"
    style="height: 50px !important; cursor: crosshair; flex-shrink: 0"
    cdkDragHandle
  >
    <div class="h-100 d-flex justify-content-start align-content-center">
      <!-- <button
      class="btn bg-orange shadow-0 border-0 fw-bold text-white d-flex justify-content-between align-content-center p-1 me-1 my-auto"
      (click)="run()"
    >
      <mat-icon class="fw-bold" style="aspect-ratio: 1">
        play_arrow
      </mat-icon>
    </button>
    <button
      class="btn bg-orange shadow-0 border-0 fw-bold text-white d-flex justify-content-between align-content-center p-1 ms-1 my-auto"
      (click)="loadingMode = 0"
    >

      <mat-icon class="fw-bold" style="aspect-ratio: 1">
        stop
      </mat-icon>
    </button> -->

      <!-- <div
        class="primary-text m-auto ms-0 me-2"
        style="aspect-ratio: 1"
        role="button"
        (click)="restart()"
      >
        <mat-icon> restart_alt </mat-icon>
      </div> -->

      <div
        class="h-100 proj d-flex justify-content-center align-items-center"
        role="button"
        [matTooltip]="'Game Menu'"
        [matTooltipPosition]="'below'"
      >
        <div
          class="primary-text-dark d-flex justify-content-center align-items-center"
          role="button"
          mat-button
          [matMenuTriggerFor]="mainMenu"
          #menuToggle
        >
          <mat-icon [svgIcon]="'unfathom_icon'"></mat-icon>
          <mat-icon
            class="my-auto"
            style="
              height: 14px;
              font-size: 14px !important;
              width: 14px !important;
            "
            >expand_more</mat-icon
          >
        </div>
      </div>
    </div>

    <div class="h-100 d-flex justify-content-end align-content-center">
      <div
        class="primary-text-dark m-auto"
        style="aspect-ratio: 1"
        role="button"
        (click)="openPrototypeFull()"
      >
        <mat-icon class="w-100 h-100" style="font-size: 18px">
          open_in_new
        </mat-icon>
      </div>

      <div
        class="primary-text-dark ms-3 m-auto me-0"
        style="aspect-ratio: 1"
        role="button"
        (click)="dialogRef.close()"
      >
        <mat-icon class="w-100 h-100" style="font-size: 20px"> close </mat-icon>
      </div>
    </div>
  </div>

  <div
    class="w-100 h-100 renderer primary-background"
    *ngIf="scene && project && world && theme; else noWorld"
  >
    <app-world-designer
      *ngIf="visible"
      [theme]="theme"
      [world]="world"
      [scene]="scene"
      [project]="project"
    ></app-world-designer>
  </div>

  <ng-template #noWorld>
    <div class="w-100 h-100 d-flex justify-content-center align-items-center primary-background">
      <p
        class="primary-text m-auto h4"
        style="overflow-y: hidden; flex-shrink: 1; flex-grow: 0"
      >
        No scene to show
      </p>
    </div>
  </ng-template>
</div>

<mat-menu #mainMenu="matMenu" class="secondary-background-dark">
  <div style="min-width: 250px; max-height: 700px" *ngIf="project">
    <button mat-menu-item class="proj toolButton" (click)="restart()">
      <mat-icon
        class="my-auto me-2 d-flex justify-content-center align-items-center"
        style="font-size: 16px"
        >restart_alt</mat-icon
      >
      Reload World
    </button>

    <ng-container *ngIf="!mountedAsset && mountableAssets; else dismount">
      <button
        mat-menu-item
        class="proj toolButton"
        [disabled]="mountableAssets.length == 0"
        [matMenuTriggerFor]="projects"
      >
        <mat-icon
          class="my-auto me-2 d-flex justify-content-center align-items-center"
          style="font-size: 16px"
          >sports_esports</mat-icon
        >
        {{ mountableAssets.length > 0 ? "Mount Asset" : "No Mountable Assets" }}
      </button>
    </ng-container>

    <ng-container *ngIf="selectedCharacter;">
      <button
        mat-menu-item
        class="proj toolButton"
        [matMenuTriggerFor]="characters"
      >
        <mat-icon
          class="my-auto me-2 d-flex justify-content-center align-items-center"
          style="font-size: 16px"
          >accessibility</mat-icon
        >
        {{project.characters[selectedCharacter]?.name ?? 'No Character'}}
      </button>
    </ng-container>

    <ng-template #dismount>
      <button
        mat-menu-item
        class="proj toolButton"
        (click)="dismountAsset(mountedAsset)"
        *ngIf="mountedAsset"
      >
        <mat-icon
          class="my-auto me-2 d-flex justify-content-center align-items-center"
          style="font-size: 16px"
          >man</mat-icon
        >
        Dismount "{{ project.assets[mountedAsset].name }}"
      </button>
    </ng-template>

    <button class="proj toolButton" mat-menu-item [matMenuTriggerFor]="goto">
      <mat-icon
        class="my-auto me-2 d-flex justify-content-center align-items-center"
        style="font-size: 16px"
        >travel_explore</mat-icon
      >
      Go to
    </button>

    <!-- <button mat-menu-item class="proj toolButton" (click)="openSettings()">
        <mat-icon
          class="my-auto me-2 d-flex justify-content-center align-items-center"
          style="font-size: 16px"
          >settings</mat-icon
        >
        Settings...
      </button> -->
  </div>
</mat-menu>

<mat-menu #projects="matMenu" class="secondary-background-dark">
  <ng-container *ngIf="project && scene && scene.assets">
    <div
      class="secondary-background-dark text-start rounded d-flex justify-content-center align-items-center flex-column"
      id="profile-menu"
      style="min-width: 350px; max-height: 700px"
    >
      <div class="big-design-header p-3 pb-3">
        <b class="fw-bold primary-text-dark">Assets</b>
      </div>

      <div
        class="w-100 h-100"
        style="overflow-y: scroll"
        *ngIf="mountableAssets.length > 0"
      >
        <div
          *ngFor="let n of mountableAssets ?? []"
          class="d-flex justify-content-between align-items-center"
          (click)="mountAsset(n)"
          role="button"
        >
          <!-- <div class="d-flex justify-content-between align-items-center">
              <div
                class="bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
                style="
                  object-fit: contain;
                  aspect-ratio: 1;
                  overflow: hidden;
                  width: 45px;
                "
              >
                <img
                  class="m-auto rounded-icon"
                  style="object-fit: cover; height: 90%; width: 90%"
                  [src]="n.displayUrl"
                />
              </div>
              <div class="text-start w-100 ms-2">
                <div class="w-100 ps-2 primary-text text-start fw-normal">
                  {{ n.name }}
                </div>
                <div
                  class="w-100 ps-2 primary-text text-start fw-normal"
                  style="font-size: 10px"
                >
                  {{ n.created | date }}
                </div>
              </div>
            </div> -->

          <button mat-menu-item class="toolButton">
            <img
              class="rounded-icon me-4 border-table-dark"
              style="object-fit: cover; height: 30px; aspect-ratio: 1"
              [src]="project.assets[n].img"
            />{{ project.assets[n].name }}
          </button>

          <!-- <mat-icon class="secondary-text"> chevron_right </mat-icon> -->
        </div>
      </div>
    </div>
  </ng-container>
</mat-menu>

<mat-menu #characters="matMenu" class="secondary-background-dark">
  <ng-container *ngIf="project && scene && scene.characters">
    <div
      class="secondary-background-dark text-start rounded d-flex justify-content-center align-items-center flex-column"
      id="profile-menu"
      style="min-width: 350px; max-height: 700px"
    >
      <div class="big-design-header p-3 pb-3">
        <b class="fw-bold primary-text-dark">Characters</b>
      </div>

      <div
        class="w-100 h-100"
        style="overflow-y: scroll"
        *ngIf="scene.characters.length > 0"
      >
        <div
          *ngFor="let n of scene.characters ?? []"
          class="d-flex justify-content-between align-items-center"
          (click)="selectCharacter(n.id)"
          role="button"
        >
          <!-- <div class="d-flex justify-content-between align-items-center">
              <div
                class="bg-white rounded-icon shadow d-flex justify-content-center align-items-center"
                style="
                  object-fit: contain;
                  aspect-ratio: 1;
                  overflow: hidden;
                  width: 45px;
                "
              >
                <img
                  class="m-auto rounded-icon"
                  style="object-fit: cover; height: 90%; width: 90%"
                  [src]="n.displayUrl"
                />
              </div>
              <div class="text-start w-100 ms-2">
                <div class="w-100 ps-2 primary-text text-start fw-normal">
                  {{ n.name }}
                </div>
                <div
                  class="w-100 ps-2 primary-text text-start fw-normal"
                  style="font-size: 10px"
                >
                  {{ n.created | date }}
                </div>
              </div>
            </div> -->

          <button mat-menu-item class="toolButton">
            <img
              class="rounded-icon me-4 border-table-dark"
              style="object-fit: cover; height: 30px; aspect-ratio: 1"
              [src]="project.characters[n.id].img"
            />{{ project.characters[n.id].name }}
          </button>

          <!-- <mat-icon class="secondary-text"> chevron_right </mat-icon> -->
        </div>
      </div>
    </div>
  </ng-container>
</mat-menu>

<mat-menu #goto="matMenu" class="secondary-background-dark">
  <ng-container *ngIf="project && scene && scene.assets && scene.characters">
    <div
      class="secondary-background-dark text-start rounded d-flex justify-content-center align-items-center flex-column"
      id="profile-menu"
      style="min-width: 350px; max-height: 700px"
    >
      <button class="proj toolButton border-table-bottom" mat-menu-item>
        <mat-icon
          class="my-auto me-2 d-flex justify-content-center align-items-center"
          style="font-size: 16px"
          >near_me</mat-icon
        >
        Custom Point
      </button>

      <div class="big-design-header p-3 pb-3">
        <b class="fw-bold primary-text-dark">Characters</b>
      </div>

      <div
        class="w-100 h-100"
        style="overflow-y: scroll"
        *ngIf="scene.characters.length > 0"
      >
        <div
          *ngFor="let n of scene.characters ?? []"
          class="d-flex justify-content-between align-items-center"
          (click)="(null)"
          role="button"
        >
          <button mat-menu-item class="toolButton">
            <img
              class="rounded-icon me-4 border-table-dark"
              style="object-fit: cover; height: 30px; aspect-ratio: 1"
              [src]="project.characters[n.id].img"
            />{{ project.characters[n.id].name }}
          </button>
        </div>
      </div>

      <div class="big-design-header p-3 pb-3">
        <b class="fw-bold primary-text-dark">Assets</b>
      </div>

      <div
        class="w-100 h-100"
        style="overflow-y: scroll"
        *ngIf="scene.assets.length > 0"
      >
        <div
          *ngFor="let n of scene.assets ?? []"
          class="d-flex justify-content-between align-items-center"
          (click)="(null)"
          role="button"
        >
          <button mat-menu-item class="toolButton">
            <img
              class="rounded-icon me-4 border-table-dark"
              style="object-fit: cover; height: 30px; aspect-ratio: 1"
              [src]="project.assets[n.id].img"
            />{{ project.assets[n.id].name }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</mat-menu>
