.rounded-10 {
  border-radius: 10px !important;
}

.mb-field {
  margin-bottom: 0.55rem !important;
}

.renderer {
  flex-shrink: 1;
  overflow: hidden;
  margin: 5px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 5px !important;
}
