<div
  class="w-100 h-100 d-flex justify-content-center align-items-center rounded"
  style="overflow: hidden"
  [hidden]="loaded != ''"
>
  <canvas class="w-100 h-100" id="canvas"> </canvas>
</div>

<div
  class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
  *ngIf="loaded != ''"
>
  <verticalai-loader
    [mode]="theme"
    [text]="loaded"
    [animate]="true"
  ></verticalai-loader>
<!-- 
  <div class="w-100 px-2 mt-5" style="max-width: 600px;">
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  </div> -->
</div>
