<div class="w-100 h-100">
  <div class="w-100 h-100">
    <div class="w-100 p-3">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <div class="primary-text fw-bold" style="font-size: 15px">
          Asset
        </div>
        <button
          class="btn bg-orange border-0 rounded fw-bold text-white d-flex justify-content-center px-3 align-content-center py-2"
          (click)="save()"
          >
          Save
        </button>
      </div>
    </div>
    <div class="w-100 h-100 p-3" *ngIf="workflow && asset">
      <div class="primary-background w-100 h-100 m-auto">
        <div class="w-100 pb-3">
          <verticalai-text-field
            [title]="'Name'"
            [value]="asset.name"
            [placeholder]="'Name'"
            (changed)="asset.name = $event"
          >
          </verticalai-text-field>
        </div>

        <div class="w-100 h-100 pb-3">
          <div class="w-100 h-100 py-3">
            <p class="w-100 mb-3 primary-text fw-bold">Asset File (.glb)</p>

            <div
              class="w-100 secondary-background rounded position-relative"
              style="height: 250px"
            >
              <div class="w-100 h-100 position-absolute">
                <app-model-viewer
                  #modelViewer
                  *ngIf="fileDisplay; else noFile"
                  [camera]="true"
                  [model]="fileDisplay"
                  [animate]="true"
                  [poster]="'/assets/default.png'"
                  [id]="'viewer'"
                  [ar]="false"
                >
                </app-model-viewer>
                <ng-template #noFile>
                  <div
                    class="d-flex justify-content-center align-items-center w-100 h-100"
                  >
                    <span
                      class="m-auto primary-text h5"
                      role="button"
                      (click)="aImgInput.click()"
                      >No asset to display</span
                    >
                  </div>
                </ng-template>
              </div>

              <div
                class="position-absolute"
                style="z-index: 1; right: 10px; bottom: 10px"
              >
                <button
                  class="mb-2 btn bg-orange border-0 rounded fw-bold text-white d-flex justify-content-center px-2 align-content-center py-2"
                  (click)="fileDisplay = undefined"
                  [matTooltip]="'Remove'"
                  *ngIf="fileDisplay"
                >
                  <mat-icon> delete </mat-icon>
                </button>
                <button
                  class="mt-2 btn bg-orange border-0 rounded fw-bold text-white d-flex justify-content-center px-2 align-content-center py-2"
                  [matTooltip]="'Upload New'"
                  (click)="aImgInput.click()"
                >
                  <mat-icon> upload_file </mat-icon>
                </button>
              </div>

              <input
                #aImgInput
                type="file"
                (change)="fileChangeEvent($event, 1)"
                style="display: none"
              />
            </div>
          </div>
          <!-- <ngx-dropzone
                class="w-100 h-100 bg-transparent border-0"
                style="z-index: 1000; pointer-events: none"
                (change)="dropped($event)"
                [multiple]="false"
                [disableClick]="true"
                #drop
              >
              </ngx-dropzone> -->
          <!-- <div
                    *ngIf="!data.asset"
                    class="position-absolute d-flex justify-content-end align-items-center flex-column"
                    style="right: 10px; top: 10px; bottom: 10px; z-index: 1001"
                  >
                    <a
                      class="big-design-alt-button p-1"
                      matTooltip="Change Skybox"
                      [matTooltipPosition]="'left'"
                      (click)="fileInput.click()"
                    >
                      <mat-icon> wallpaper </mat-icon>
                    </a>
                    <a
                      class="big-design-alt-button p-1 mt-2"
                      matTooltip="Clear {{nftContract.style == '3D' ? 'Model' : 'File'}}"
                      [matTooltipPosition]="'left'"
                      (click)="nftForm.controls.file.setValue(null)"
                    >
                      <mat-icon> close </mat-icon>
                    </a>
                  </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
