<div class="w-full h-full relative flex justify-center items-center">
  <model-viewer
    *ngIf="model"
    [attr.camera-controls]="camera"
    class="h-full mx-auto"
    style="aspect-ratio: 1 !important"
    [attr.src]="model"
    [attr.autoplay]="animate"
    [attr.skybox-image]="skybox"
    [attr.environment-image]="skybox"
    [attr.ar]="ar ? true : undefined"
    [attr.ios-src]="ios_model"
    [attr.interaction-prompt]="prompt ? 'auto' : 'none'"
    [attr.ar-modes]="ar ? 'scene-viewer quick-look' : undefined"
    id="{{ id }}"
    (model-visibility)="visible($event)"
    (progress)="progress($event)"
    id="viewer"
  >
  </model-viewer>
  <div
    class="absolute w-full h-full"
    *ngIf="!obj.detail.visible"
    style="z-index: 1000"
  >
    <div
      class="w-full h-full relative flex justify-center items-center flex-col"
    >
      <!-- <img class="w-full h-full absolute" [src]="poster" /> -->
      <div
        class="absolute flex justify-center items-center flex-col w-full h-full"
      >
        <!-- <img
        loading="lazy"
        class="h-full w-full"
        [useSrcset]="true"
        [defaultImage]="'/assets/default.png'"
        [lazyLoad]="img"
      /> -->

        <div class="absolute big-design-spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <!-- <div class="absolute">
          {{ pro | number : "1.0-0" }}
        </div> -->
      </div>
    </div>
  </div>
</div>
