<ng-container *ngIf="world && assetDetails">
  <div class="w-100 p-3">
    <div class="w-full pt-3">
      <div
        class="w-full pb-2 grid grid-cols-3 gap-4 grid-flow-row justify-center"
      >
        <div class="col">
          <verticalai-text-field
            [title]="'X'"
            [type]="'number'"
            [range]="{ min: -100000, max: 100000 }"
            [value]="assetDetails['spawn'].x"
            [placeholder]="'Position (X)'"
            (changed)="assetDetails['spawn'].x = $event; save()"
          >
          </verticalai-text-field>
        </div>
        <div class="col">
          <verticalai-text-field
            [title]="'Y'"
            [type]="'number'"
            [range]="{ min: -100000, max: 100000 }"
            [value]="assetDetails['spawn'].y"
            [placeholder]="'Position (Y)'"
            (changed)="assetDetails['spawn'].y = $event; save()"
          >
          </verticalai-text-field>
        </div>
        <div class="col">
          <verticalai-text-field
            [title]="'Z'"
            [type]="'number'"
            [range]="{ min: -100000, max: 100000 }"
            [value]="assetDetails['spawn'].z"
            [placeholder]="'Position (Z)'"
            (changed)="assetDetails['spawn'].z = $event; save()"
          >
          </verticalai-text-field>
        </div>
      </div>
    </div>

    <div class="w-full">
      <div
        class="w-full grid pb-2 grid-cols-3 gap-4 grid-flow-row justify-center"
      >
        <div class="col">
          <verticalai-text-field
            [title]="'Rotate X'"
            [type]="'number'"
            [range]="{ min: -100000, max: 100000 }"
            [value]="assetDetails['direction'].x"
            [placeholder]="'Direction (X)'"
            (changed)="assetDetails['direction'].x = $event; save()"
          >
          </verticalai-text-field>
        </div>
        <div class="col">
          <verticalai-text-field
            [title]="'Rotate Y'"
            [type]="'number'"
            [range]="{ min: -100000, max: 100000 }"
            [value]="assetDetails['direction'].y"
            [placeholder]="'Direction (Y)'"
            (changed)="assetDetails['direction'].y = $event; save()"
          >
          </verticalai-text-field>
        </div>
        <div class="col">
          <verticalai-text-field
            [title]="'Rotate Z'"
            [type]="'number'"
            [range]="{ min: -100000, max: 100000 }"
            [value]="assetDetails['direction'].z"
            [placeholder]="'Direction (Z)'"
            (changed)="assetDetails['direction'].z = $event; save()"
          >
          </verticalai-text-field>
        </div>
      </div>
    </div>
    <!-- 
  <div class="w-full pb-3">
    <verticalai-layout-slider
      [value]="(assetDetails['scale'] ?? 1) * 100"
      [title]="'Scale'"
      [min]="1"
      [max]="10000"
      [step]="100"
      [lineFillColor]="'#0A99FF'"
      (valueChange)="assetDetails['scale'] = $event / 100"
    >
    </verticalai-layout-slider>
  </div> -->

    <div class="w-full pb-3">
      <div class="w-full grid grid-cols-3 gap-4 grid-flow-row justify-center">
        <div class="col">
          <verticalai-text-field
            [title]="'Length (m)'"
            [type]="'number'"
            [range]="{ min: 1, max: 100000 }"
            [value]="assetDetails['scale'].x"
            [placeholder]="'Length (m)'"
            (changed)="assetDetails['scale'].x = $event; save()"
          >
          </verticalai-text-field>
        </div>
        <div class="col">
          <verticalai-text-field
            [title]="'Height (m)'"
            [type]="'number'"
            [range]="{ min: 1, max: 100000 }"
            [value]="assetDetails['scale'].y"
            [placeholder]="'Height (m)'"
            (changed)="assetDetails['scale'].y = $event; save()"
          >
          </verticalai-text-field>
        </div>
        <div class="col">
          <verticalai-text-field
            [title]="'Width (m)'"
            [type]="'number'"
            [range]="{ min: 1, max: 100000 }"
            [value]="assetDetails['scale'].z"
            [placeholder]="'Width (m)'"
            (changed)="assetDetails['scale'].z = $event; save()"
          >
          </verticalai-text-field>
        </div>
      </div>
    </div>
  </div>
<!-- 
  <div class="w-full p-3 border-table-top-light">
    <div class="w-full">
      <verticalai-select-field
        [title]="'Movement'"
        [value]="assetDetails['movement']['canMount'] ?? false"
        [data]="movementTypes"
        [valueField]="'mountable'"
        [displayField]="'name'"
        (changed)="assetDetails['movement']['canMount'] = $event; save()"
      >
      </verticalai-select-field>
    </div>
  </div>

  <div class="w-full px-3" *ngIf="assetDetails['movement']['canMount'] ?? true">
    <div class="w-full grid grid-cols-2 gap-4 grid-flow-row justify-center">
      <div class="col">
        <verticalai-text-field
          [title]="'Speed'"
          [type]="'number'"
          [range]="{ min: 1, max: 1000 }"
          [value]="assetDetails['movement']['speed'] ?? 2"
          [placeholder]="'Speed'"
          (changed)="assetDetails['movement']['speed'] = $event; save()"
        >
        </verticalai-text-field>
      </div>
      <div class="col">
        <verticalai-text-field
          [title]="'Gravity'"
          [type]="'number'"
          [range]="{ min: 0, max: 100 }"
          [value]="assetDetails['movement']['gravity'] ?? 9.8"
          [placeholder]="'Gravity'"
          (changed)="assetDetails['movement']['gravity'] = $event; save()"
        >
        </verticalai-text-field>
      </div>
    </div>
  </div> -->
</ng-container>
