<div
  class="w-100 h-100 d-flex justify-content-between align-items-center flex-column primary-background p-3 pb-4"
  *ngIf="workflow && character && characterDetails"
>
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="primary-background w-100 h-100 m-auto" style="max-width: 600px">
      <div class="w-100 h-100">
        <div class="w-100">
          <div class="primary-text fw-bold mb-3" style="font-size: 15px">
            Character
          </div>
        </div>
      </div>

      <div class="w-100" style="overflow-y: scroll; max-height: 600px">

        <div class="w-100 pb-3">
            <p class="w-100 mb-3 primary-text fw-bold">Spawn Point</p>

            <div class="w-100 pb-3 row row-cols-3 justify-content-center g-0">
              <div class="col px-1">
                <verticalai-text-field
                  [title]="'X'"
                  [type]="'number'"
                  [range]="{ min: -100000, max: 100000 }"
                  [value]="characterDetails['spawn'].x"
                  [placeholder]="'Spawn (X)'"
                  (changed)="characterDetails['spawn'].x = $event"
                >
                </verticalai-text-field>
              </div>
              <div class="col px-1">
                <verticalai-text-field
                  [title]="'Y'"
                  [type]="'number'"
                  [range]="{ min: -100000, max: 100000 }"
                  [value]="characterDetails['spawn'].y"
                  [placeholder]="'Spawn (Y)'"
                  (changed)="characterDetails['spawn'].y = $event"
                >
                </verticalai-text-field>
              </div>
              <div class="col px-1">
                <verticalai-text-field
                  [title]="'Z'"
                  [type]="'number'"
                  [range]="{ min: -100000, max: 100000 }"
                  [value]="characterDetails['spawn'].z"
                  [placeholder]="'Spawn (Z)'"
                  (changed)="characterDetails['spawn'].z = $event"
                >
                </verticalai-text-field>
              </div>
            </div>
        </div>

        <div class="w-100 pb-3">
            <p class="w-100 mb-3 primary-text fw-bold">Direction</p>

            <div class="w-100 pb-3 row row-cols-3 justify-content-center g-0">
              <div class="col px-1">
                <verticalai-text-field
                  [title]="'X'"
                  [type]="'number'"
                  [range]="{ min: -100000, max: 100000 }"
                  [value]="characterDetails['direction'].x"
                  [placeholder]="'Direction (X)'"
                  (changed)="characterDetails['direction'].x = $event"
                >
                </verticalai-text-field>
              </div>
              <div class="col px-1">
                <verticalai-text-field
                  [title]="'Y'"
                  [type]="'number'"
                  [range]="{ min: -100000, max: 100000 }"
                  [value]="characterDetails['direction'].y"
                  [placeholder]="'Direction (Y)'"
                  (changed)="characterDetails['direction'].y = $event"
                >
                </verticalai-text-field>
              </div>
              <div class="col px-1">
                <verticalai-text-field
                  [title]="'Z'"
                  [type]="'number'"
                  [range]="{ min: -100000, max: 100000 }"
                  [value]="characterDetails['direction'].z"
                  [placeholder]="'Direction (Z)'"
                  (changed)="characterDetails['direction'].z = $event"
                >
                </verticalai-text-field>
              </div>
            </div>
        </div>
        

      </div>
      <button
        class="btn bg-orange border-0 rounded fw-bold text-white d-flex justify-content-center px-3 align-content-center py-2 mt-4"
        (click)="save()"
      >
        <ng-container *ngIf="loading != ''; else buttonTitles">
          <span class="mx-auto">
            {{ loading }}
            <span
              class="spinner-border spinner-border-sm ms-2 m-auto"
              role="status"
              aria-hidden="true"
            ></span>
          </span>
        </ng-container>

        <ng-template #buttonTitles>
          <ng-container> {{ "Save Character" }}</ng-container>
        </ng-template>
      </button>
    </div>
  </div>
</div>
