<ng-container *ngIf="'light' as mode">
  <!-- <div
    class="w-full border-table-bottom secondary-background "
    style="height: 70px; position: fixed; z-index: 50; top: 0"
    id="top-bar"
    *ngIf="!(location.path() | isRoute : ['dashboard'])"
  >
    <div
      class="w-full h-full justify-between items-center flex"
      *ngIf="display"
    >
      <div
        class="flex justify-center justify-md-start items-center h-full w-full w-md-auto"
      >
        <div class="my-1 mx-0 md:mx-4 h-full py-1">
          <img
            class="h-full w-auto p-2 md:p-3"
            [src]="'assets/vertical_ai_logo_' + mode + '.svg'"
            style="object-fit: contain"
            role="button"
            (click)="routeToHome()"
          />
        </div>
        <div
          class="h-full d-none d-mflex justify-start items-center"
        >
          <span
            class="text-{{ mode }} mx-4"
            role="button"
            (click)="routeToAuth()"
            >Account</span
          >

          <span
            class="text-{{ mode }} mx-4"
            style="text-decoration: none"
            role="button"
            (click)="window.open('https://docs.verticalai.io', '_blank')"
            >Documentation</span
          >
        </div>
      </div>
      <div
        class="flex justify-end items-center h-full me-3 md:mx-4"
      >
        <div
          class="w-full h-full d-none d-mflex justify-end items-center"
        >
          <div
            class="flex justify-end items-center"
            style="height: 40px"
          >
            <div
              class="flex justify-between items-center h-full"
              role="button"
              [mdbPopover]="template"
              placement="bottom"
              [trigger]="'click'"
              id="profile-toggle"
              #profileToggle
              *ngIf="isBrowser() && (location.path() | isRoute : ['dashboard'])"
            >
              <span class="font-bold mx-2 text-{{ mode }} px-2 d-none d-mblock">
                {{
                  localStorage && localStorage["name"]
                    ? localStorage["name"]
                    : ""
                }}
              </span>
              <div
                class="rounded-full h-full icons bg-pink"
                style="
                  border-style: solid;
                  border-width: 0.2rem;
                  border-color: rgb(255, 232, 248);
                  width: fit-content;
                "
              >
                <img
                  *ngIf="
                    localStorage!['url'] != null &&
                    localStorage!['url'] != undefined
                  "
                  class="h-full p-0 m-auto rounded-full"
                  style="object-fit: contain; aspect-ratio: 1"
                  [src]="localStorage!['url']"
                />

                <ng-template #template>
                  <div
                    class="popover-body-padding primary-background border-table text-center px-3"
                    id="profile-menu"
                    style="min-width: 250px"
                  >
                    <div class="big-design-header" style="height: 40px">
                      <mat-icon
                        class="font-bold primary-text  "
                        role="button"
                        (click)="profileToggle.click()"
                      >
                        close
                      </mat-icon>
                    </div>
                    <div
                      class="rounded-full icons bg-pink mx-auto mb-4"
                      style="
                        border-style: solid;
                        border-width: 0.2rem;
                        border-color: rgb(255, 232, 248);
                        width: fit-content;
                        height: 80px;
                      "
                    >
                      <img
                        *ngIf="
                          localStorage!['url'] != null &&
                          localStorage!['url'] != undefined
                        "
                        class="h-full p-0 m-auto rounded-full"
                        style="object-fit: contain; aspect-ratio: 1"
                        [src]="localStorage!['url']"
                      />
                    </div>
                    <span
                      class="font-bolder text-{{ mode }} px-2 d-none d-mblock"
                      style="font-size: medium"
                    >
                      {{
                        localStorage && localStorage["name"]
                          ? localStorage["name"]
                          : ""
                      }}
                    </span>
                    <b
                      class="font-bold mb-4 primary-text  text-center"
                      style="font-size: small"
                      >{{
                        localStorage!["email"] != null
                          ? localStorage!["email"]
                          : "Not Signed In"
                      }}</b
                    >
                    <br />
                    <div class="w-full text-start mt-3">
                      <a
                        role="button"
                        class="w-full btn primary-text  secondary-background px-1 py-2 font-bold rounded"
                        style="font-size: small"
                        (click)="editProfile()"
                        *ngIf="localStorage!['email'] != null"
                      >
                        Edit Profile
                      </a>
                      <a
                        role="button"
                        class="w-full btn primary-background primary-text  px-1 py-2 mt-2 font-bold rounded"
                        style="font-size: small"
                        (click)="signOut()"
                        *ngIf="localStorage!['email'] != null"
                      >
                        Sign Out
                      </a>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div
    class="w-full bar-{{ mode }} layout-container-grow-{{
      (location.path() | isRoute : ['dashboard']) ? 'full' : ''
    }}"
  >
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</ng-container>
