<div
  class="w-full h-full flex justify-between flex-col content-center bg-theme"
  style="overflow: hidden"
>
  <div
    class="px-2 w-full flex justify-between items-center primary-background border-bottom"
    style="height: 70px"
  >
    <div class="flex justify-center items-center my-auto">
      <p
        class="btn bg-transparent rounded-full font-bold primary-text  border-0 flex justify-between content-center px-2 py-2 my-auto"
        (click)="close()"
      >
        <mat-icon class="me-0" style="aspect-ratio: 1"> close </mat-icon>
      </p>
    </div>
  </div>

  <div
    class="w-full h-full flex flex-col justify-start items-center p-2 secondary-background "
    style="overflow-y: scroll"
  >
    <app-billing
      *ngIf="mode == 0"
      (cardAdded)="dialogRef.close()"
    ></app-billing>
  </div>
</div>
