<div class="w-100 h-100 p-3" *ngIf="workflow && character">
  <div class="wrap-input1 w-100 py-3 px-0">
    <p class="w-100 mb-3 primary-text fw-bold">Character Icon</p>

    <div
      class="w-auto rounded-circle border-table shadow d-flex justify-content-center align-items-center section-background"
      style="
        object-fit: contain;
        aspect-ratio: 1;
        height: 60px;
        overflow: hidden;
      "
    >
      <div
        class="m-auto position-relative img-input rounded-circle pic-hover"
        style="height: 90%; width: 90%; overflow: hidden"
        role="button"
        (click)="cImgInput.click()"
      >
        <img
          class="w-100 h-100 position-absolute"
          style="z-index: 50; object-fit: cover"
          [src]="character.img"
          id="imgIcon"
        />
        <!-- <div
                  class="w-100 h-100 position-absolute img-input-display bg-orange primary-text"
                  style="z-index: 51; opacity: 0.5"
                >
                  <mat-icon class="m-auto">upload </mat-icon>
                </div> -->
        <input
          #cImgInput
          type="file"
          (change)="fileChangeEvent($event, 1)"
          style="display: none"
        />
      </div>
    </div>
  </div>

  <div class="w-100 pb-3">
    <verticalai-text-field
      [title]="'Name'"
      [value]="character.name"
      [placeholder]="'Name'"
      (changed)="character.name = $event; save()"
    >
    </verticalai-text-field>
  </div>
  <div class="w-100 pb-3">
    <verticalai-textbox
      [title]="'Background'"
      [value]="character.background"
      [placeholder]="'Character Background'"
      (changed)="character.background = $event; save()"
    >
    </verticalai-textbox>
  </div>

  <div class="w-100 pb-3">
    <verticalai-textbox
      [title]="'Personality'"
      [value]="character.personality"
      [placeholder]="'Character Personality'"
      (changed)="character.personality = $event; save()"
    >
    </verticalai-textbox>
  </div>

  <div class="w-100 pb-3">
    <!-- <ngx-dropzone
              class="w-100 h-100"
              style="border-color: #2852ea"
              (change)="dropped($event)"
              *ngIf="newAsset"
              [multiple]="false"
            >
              <ngx-dropzone-label class="big-design-title text-dark">
                Drop Asset File Here
                <br />
                <p style="font-size: small">
                  Accepted formats: {{ acceptedModels }}
                </p>
                <a role="button" class="mt-0 big-design-alt-button">Browse Files</a>
              </ngx-dropzone-label>
            </ngx-dropzone> -->

    <div class="w-100 h-100 py-3">
      <p class="w-100 mb-3 primary-text fw-bold">Character Asset (.glb)</p>

      <div
        class="w-100 secondary-background rounded position-relative"
        style="height: 250px"
      >
        <div class="w-100 h-100 position-absolute">
          <app-model-viewer
            *ngIf="fileDisplay; else noFile"
            [camera]="true"
            [model]="fileDisplay"
            [animate]="true"
            [poster]="'/assets/default.png'"
            [id]="'viewer'"
            [ar]="false"
          >
          </app-model-viewer>
          <ng-template #noFile>
            <div
              class="d-flex justify-content-center align-items-center w-100 h-100"
            >
              <span
                class="m-auto primary-text h5"
                role="button"
                (click)="aImgInput.click()"
                >No asset to display</span
              >
            </div>
          </ng-template>
        </div>

        <div
          class="position-absolute"
          style="z-index: 1; right: 10px; bottom: 10px"
        >
          <button
            class="mb-2 btn bg-orange border-0 rounded fw-bold text-white d-flex justify-content-center px-2 align-content-center py-2"
            (click)="fileDisplay = undefined"
            [matTooltip]="'Remove'"
            *ngIf="fileDisplay"
          >
            <mat-icon> delete </mat-icon>
          </button>
          <button
            class="mt-2 btn bg-orange border-0 rounded fw-bold text-white d-flex justify-content-center px-2 align-content-center py-2"
            [matTooltip]="'Upload New'"
            (click)="aImgInput.click()"
          >
            <mat-icon> upload_file </mat-icon>
          </button>
        </div>

        <input
          #aImgInput
          type="file"
          (change)="fileChangeEvent($event, 2)"
          style="display: none"
        />
      </div>
    </div>
    <!-- <ngx-dropzone
                class="w-100 h-100 bg-transparent border-0"
                style="z-index: 1000; pointer-events: none"
                (change)="dropped($event)"
                [multiple]="false"
                [disableClick]="true"
                #drop
              >
              </ngx-dropzone> -->
    <!-- <div
                    *ngIf="!data.asset"
                    class="position-absolute d-flex justify-content-end align-items-center flex-column"
                    style="right: 10px; top: 10px; bottom: 10px; z-index: 1001"
                  >
                    <a
                      class="big-design-alt-button p-1"
                      matTooltip="Change Skybox"
                      [matTooltipPosition]="'left'"
                      (click)="fileInput.click()"
                    >
                      <mat-icon> wallpaper </mat-icon>
                    </a>
                    <a
                      class="big-design-alt-button p-1 mt-2"
                      matTooltip="Clear {{nftContract.style == '3D' ? 'Model' : 'File'}}"
                      [matTooltipPosition]="'left'"
                      (click)="nftForm.controls.file.setValue(null)"
                    >
                      <mat-icon> close </mat-icon>
                    </a>
                  </div> -->
  </div>
 
</div>
