<div class="w-full h-full p-3" style="overflow-y: scroll">
  <div class="w-full pb-3">
    <div
      class="w-full flex justify-between content-center pb-3 mb-3 mt-4 primary-text border-table-bottom"
    >
      <p class="w-full font-bold my-auto">Project 3D Assets</p>
      <mat-icon class="m-auto primary-text" role="button" (click)="editAsset()">
        add
      </mat-icon>
    </div>

    <div class="w-full row row-cols-2 justify-start g-0">
      <div
        *ngFor="let asset of assets ?? []; index as i"
        class="col p-1 relative"
        style="aspect-ratio: 0.75"
      >
        <div
          class="flex justify-between items-center flex-col border-table rounded secondary-background shadow-hover"
          style="overflow: hidden"
          role="button"
          (click)="editAsset(asset)"
        >
          <img
            class="w-full h-full"
            style="object-fit: cover; aspect-ratio: 1"
            [src]="asset.img"
          />

          <div
            class="w-full primary-background py-2 flex justify-center items-center"
          >
            <p
              class="mx-auto primary-text text-truncate text-center"
              style="width: 70px"
            >
              {{ asset.name }}
            </p>
          </div>
        </div>

        <div
          class="rounded-circle bg-orange absolute"
          style="z-index: 1; right: 0; top: 0; aspect-ratio: 1 !important"
          role="button"
          (click)="removeAssetWorkflow(asset.id)"
        >
          <mat-icon
            class="w-full h-full primary-text-dark flex justify-center items-center p-1"
            style="font-size: small"
          >
            close
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
