<div
  class="layout-container-full secondary-background-light my-0 flex justify-between content-center flex-col"
>
  <div
    class="w-full h-[55px] shrink-0 py-2 pe-2 bg-gradient-to-r from-cyan-300 to-indigo-500 shadow-sm flex justify-center items-center"
  >
    <div class="w-full h-full flex justify-between" *ngIf="world">
      <!-- <img class="h-full" [src]="'assets/logo_full.png'" /> -->

      <div
        class="h-full proj flex justify-center items-center w-[75px] px-2"
        role="button"
      >
        <div
          class="primary-text-dark h-full w-full flex justify-center items-center rounded hover:bg-cyan-200/25"
          role="button"
          #menuToggle
        >
          <mat-icon class="scale-150" [svgIcon]="'unfathom_icon'"></mat-icon>
        </div>
      </div>

      <!--  -->

      <div class="flex h-full justify-end items-center">
        <input
          #input
          [disabled]="true"
          [style.width.px]="
            world.name.length > 10 ? world.name.length * 12 : 10 * 8
          "
          class="text-sm text-center rounded title-field h-full font-medium truncate cursor-text bg-transparent border-0 px-3 me-2 text-slate-50"
          [ngModel]="world.name"
        />

        <button
          class="btn rounded bg-cyan-50 text-slate-950 flex justify-between items-center h-full"
          [mdbPopover]="world ? shareTemplate : null"
          #shareMenuBtn
          placement="bottom"
          [trigger]="'click'"
        >
          <ng-icon
            class="font-bold me-2"
            name="heroArrowUpTray"
            [strokeWidth]="2.2"
          >
          </ng-icon>

          Share
        </button>
      </div>





<ng-template #shareTemplate>
  <div
    class="p-4 w-[425px] bg-white rounded shadow-2xl me-2"
    (clickOutside)="shareMenuBtn.click()"
  >
    <p class="w-full text-start font-semibold text-lg">Share this design</p>

    <div class="w-full mt-2">
      <verticalai-text-field
        [title]="'View-only link'"
        [type]="'text'"
        [disabled]="true"
        [value]="worldLink"
        [btn]="true"
        [btnIcon]="'featherCopy'"
        (btnClicked)="copy()"
        [placeholder]="'Link'"
      >
      </verticalai-text-field>
      <button
        class="w-full btn rounded bg-violet-600 hover:bg-violet-500 text-slate-50 flex justify-center items-center py-3 mt-2"
        (click)="copy()"
      >
        {{ copied ? "Copied" : "Copy link" }}
      </button>
    </div>
  </div>
</ng-template>

    </div>
  </div>

  <div
    class="w-full h-full renderer primary-background-light"
    *ngIf="world && theme"
  >
    <app-world-designer
      *ngIf="visible"
      [theme]="'dark'"
      [world]="world"
      [scene]="scene"
    ></app-world-designer>
  </div>
</div>
<!-- 
<mat-menu #mainMenu="matMenu" class="secondary-background-light">
  <div style="min-width: 250px; max-height: 700px" *ngIf="world">
    <button mat-menu-item class="proj toolButton" (click)="restart()">
      <mat-icon
        class="my-auto me-2 flex justify-center items-center"
        style="font-size: 16px"
        >restart_alt</mat-icon
      >
      Reload World
    </button>

    <ng-container *ngIf="!mountedAsset && mountableAssets; else dismount">
      <button
        mat-menu-item
        class="proj toolButton"
        [disabled]="mountableAssets.length == 0"
        [matMenuTriggerFor]="worlds"
      >
        <mat-icon
          class="my-auto me-2 flex justify-center items-center"
          style="font-size: 16px"
          >sports_esports</mat-icon
        >
        {{ mountableAssets.length > 0 ? "Mount Asset" : "No Mountable Vehicles" }}
      </button>
    </ng-container>

    <ng-container *ngIf="selectedCharacter">
      <button
        mat-menu-item
        class="proj toolButton"
        [matMenuTriggerFor]="characters"
      >
        <mat-icon
          class="my-auto me-2 flex justify-center items-center"
          style="font-size: 16px"
          >accessibility</mat-icon
        >
        {{ world.characters[selectedCharacter]?.name ?? "No Character" }}
      </button>
    </ng-container>

    <ng-template #dismount>
      <button
        mat-menu-item
        class="proj toolButton"
        (click)="dismountAsset(mountedAsset)"
        *ngIf="mountedAsset"
      >
        <mat-icon
          class="my-auto me-2 flex justify-center items-center"
          style="font-size: 16px"
          >man</mat-icon
        >
        Dismount "{{ world.assets[mountedAsset].name }}"
      </button>
    </ng-template>

    <button class="proj toolButton" mat-menu-item [matMenuTriggerFor]="goto" [disabled]="true">
      <mat-icon
        class="my-auto me-2 flex justify-center items-center"
        style="font-size: 16px"
        >travel_explore</mat-icon
      >
      Go to
    </button>
  </div>
</mat-menu>

<mat-menu #worlds="matMenu" class="secondary-background-light">
  <ng-container *ngIf="world && scene && scene.assets">
    <div
      class="secondary-background-light text-start rounded flex justify-center items-center flex-col"
      id="profile-menu"
      style="min-width: 350px; max-height: 700px"
    >
      <div class="big-design-header p-3 pb-3">
        <b class="font-bold primary-text-light">Assets</b>
      </div>

      <div
        class="w-full h-full"
        style="overflow-y: scroll"
        *ngIf="mountableAssets.length > 0"
      >
        <div
          *ngFor="let n of mountableAssets ?? []"
          class="flex justify-between items-center"
          (click)="mountAsset(n)"
          role="button"
        >
         
          <button mat-menu-item class="toolButton">
            <img
              class="rounded-icon me-4 border-table-light"
              style="object-fit: cover; height: 30px; aspect-ratio: 1"
              [src]="world.assets[n].img"
            />{{ world.assets[n].name }}
          </button>

        </div>
      </div>
    </div>
  </ng-container>
</mat-menu>

<mat-menu #characters="matMenu" class="secondary-background-light">
  <ng-container *ngIf="world && scene && scene.characters">
    <div
      class="secondary-background-light text-start rounded flex justify-center items-center flex-col"
      id="profile-menu"
      style="min-width: 350px; max-height: 700px"
    >
      <div class="big-design-header p-3 pb-3">
        <b class="font-bold primary-text-light">Characters</b>
      </div>

      <div
        class="w-full h-full"
        style="overflow-y: scroll"
        *ngIf="scene.characters.length > 0"
      >
        <div
          *ngFor="let n of scene.characters ?? []"
          class="flex justify-between items-center"
          (click)="selectCharacter(n.id)"
          role="button"
        >
       
          <button mat-menu-item class="toolButton">
            <img
              class="rounded-icon me-4 border-table-light"
              style="object-fit: cover; height: 30px; aspect-ratio: 1"
              [src]="world.characters[n.id].img"
            />{{ world.characters[n.id].name }}
          </button>

        </div>
      </div>
    </div>
  </ng-container>
</mat-menu>

<mat-menu #goto="matMenu" class="secondary-background-light">
  <ng-container *ngIf="world && scene && scene.assets && scene.characters">
    <div
      class="secondary-background-light text-start rounded flex justify-center items-center flex-col"
      id="profile-menu"
      style="min-width: 350px; max-height: 700px"
    >
      <button class="proj toolButton border-table-bottom" mat-menu-item>
        <mat-icon
          class="my-auto me-2 flex justify-center items-center"
          style="font-size: 16px"
          >near_me</mat-icon
        >
        Custom Point
      </button>

      <div class="big-design-header p-3 pb-3">
        <b class="font-bold primary-text-light">Characters</b>
      </div>

      <div
        class="w-full h-full"
        style="overflow-y: scroll"
        *ngIf="scene.characters.length > 0"
      >
        <div
          *ngFor="let n of scene.characters ?? []"
          class="flex justify-between items-center"
          (click)="(null)"
          role="button"
        >
          <button mat-menu-item class="toolButton">
            <img
              class="rounded-icon me-4 border-table-light"
              style="object-fit: cover; height: 30px; aspect-ratio: 1"
              [src]="world.characters[n.id].img"
            />{{ world.characters[n.id].name }}
          </button>
        </div>
      </div>

      <div class="big-design-header p-3 pb-3">
        <b class="font-bold primary-text-light">Assets</b>
      </div>

      <div
        class="w-full h-full"
        style="overflow-y: scroll"
        *ngIf="scene.assets.length > 0"
      >
        <div
          *ngFor="let n of scene.assets ?? []"
          class="flex justify-between items-center"
          (click)="(null)"
          role="button"
        >
          <button mat-menu-item class="toolButton">
            <img
              class="rounded-icon me-4 border-table-light"
              style="object-fit: cover; height: 30px; aspect-ratio: 1"
              [src]="world.assets[n.id].img"
            />{{ world.assets[n.id].name }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</mat-menu> -->

