<div class="wrap-input1 w-full pt-3">
  <p *ngIf="!simplify" class="w-full mb-2 font-medium text-xs" [style.color]="textColor">{{ title }}</p>
  <div class="px-0 w-full">
    <div
      class="rounded-10 w-full pe-3"
      [style.background-color]="bgColor"
      [style.color]="textColor"
    >
      <ion-select
        (ngModelChange)="change($event)"
        (ionDismiss)="refresh.emit()"
        fill="solid"
        interface="popover"
        [placeholder]="placeholder"
        [interfaceOptions]="{ cssClass: 'custom-popover' }"
        [ngModel]="value"
        [multiple]="multiple"
        class="text-xs"
      >
        <ion-select-option
          *ngFor="let option of data ?? []"
          [value]="valueField ? option[valueField] : option"
          >{{ displayField ? option[displayField] : option }}</ion-select-option
        >
      </ion-select>
    </div>
  </div>
</div>
