.proj{
    // color: var(--primaryTextColor);
}

.proj:hover {
  // background-color: var(--dark--primarySectionHoverColor);
  color: var(--dark--primaryTextColor) !important;
}

.proj-select {
  background-color: var(--dark--primaryBackgroundColor);
  color: var(--dark--primaryTextColor) !important;
}
