<div
  class="w-100 h-100 d-flex justify-content-between align-content-start"
  style="overflow-y: hidden"
>
  <!-- <ng-container *ngIf="!openWorldScene"> -->
  <div
    class="primary-background h-100 d-flex justify-content-between align-items-center flex-column border-table-right"
    style="width: 57px !important"
  >
    <div
      class="w-100 h-100 d-flex justify-content-start align-items-center flex-column"
    >
      <!-- <div
        class="h-100 proj mt-0 d-flex justify-content-center align-items-center"
        style="aspect-ratio: 1"
        role="button"
        [matTooltip]="'Center Align'"
        [matTooltipPosition]="'below'"
        (click)="(null)"
      >
        <div
          class="mx-2 primary-text fw-bold d-flex justify-content-center align-items-center"
          style="aspect-ratio: 1"
          role="button"
        >
          <mat-icon>center_focus_strong</mat-icon>
        </div>
      </div> -->
      <!-- <div
        class="h-100 proj mt-0 d-flex justify-content-center align-items-center"
        style="aspect-ratio: 1"
        role="button"
        [matTooltip]="'Toggle Grid'"
        [matTooltipPosition]="'below'"
        (click)="showGrid = !showingGrid"
      >
        <div
          class="mx-2 primary-text fw-bold d-flex justify-content-center align-items-center"
          style="aspect-ratio: 1"
          role="button"
        >
          <mat-icon>{{ showingGrid ? "grid_on" : "grid_off" }}</mat-icon>
        </div>
      </div> -->

      <div
        class="w-100 proj{{
          mode == 'scenes' ? '-select' : ''
        }} ms-0 py-3 d-flex justify-content-center align-items-center"
        [matTooltip]="'Scenes'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('scenes')"
      >
        <div
          class="w-100 d-flex justify-content-center align-items-center"
          #folderToggle
        >
          <div
            class="d-flex justify-content-center align-items-center"
            role="button"
          >
            <mat-icon>view_stream</mat-icon>
          </div>
        </div>
      </div>
      <div
        class="w-100 proj{{
          mode == 'textures' ? '-select' : ''
        }}  ms-0 py-3 d-flex justify-content-center align-items-center"
        [matTooltip]="'Textures'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('textures')"
      >
        <div
          class="w-100 d-flex justify-content-center align-items-center"
          #folderToggle
        >
          <div
            class="d-flex justify-content-center align-items-center"
            role="button"
          >
            <mat-icon>image</mat-icon>
          </div>
        </div>
      </div>

      <div
        class="w-100 proj{{
          mode == 'characters' ? '-select' : ''
        }}  ms-0 py-3 d-flex justify-content-center align-items-center"
        [matTooltip]="'Characters'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('characters')"
      >
        <div
          class="w-100 d-flex justify-content-center align-items-center"
          #folderToggle
        >
          <div
            class="d-flex justify-content-center align-items-center"
            role="button"
          >
            <mat-icon>accessibility_new</mat-icon>
          </div>
        </div>
      </div>

      <div
        class="w-100 proj{{
          mode == 'assets' ? '-select' : ''
        }}  ms-0 py-3 d-flex justify-content-center align-items-center"
        [matTooltip]="'3D Assets'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('assets')"
      >
        <div
          class="w-100 d-flex justify-content-center align-items-center"
          #folderToggle
        >
          <div
            class="d-flex justify-content-center align-items-center"
            role="button"
          >
            <mat-icon>apartment</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="mode != 'none'">
    <div
      class="primary-background h-100 border-table-right"
      style="width: 250px !important"
    >
      <app-file-sidebar [models]="items" *ngIf="mode == 'scenes'">
      </app-file-sidebar>

      <app-character-view-module
        (openMenu)="openMenu($event.comp, $event.data, $event.callback)"
        (close)="selectedData = undefined"
        *ngIf="mode == 'characters'"
      ></app-character-view-module>

      <app-image-module
      (openMenu)="openMenu($event.comp, $event.data, $event.callback)"
      (close)="selectedData = undefined"
      *ngIf="mode == 'textures'"
    ></app-image-module>

      <app-asset-view-module
        (openMenu)="openMenu($event.comp, $event.data, $event.callback)"
        (close)="selectedData = undefined"
        *ngIf="mode == 'assets'"
      ></app-asset-view-module>
    </div>

    <div
      class="h-100 border-table-right primary-background"
      style="width: 400px !important; overflow-x: hidden; flex-shrink: 0"
      *ngIf="selectedData"
    >
      <app-extended-menu
        [data]="selectedData.data"
        (close)="selectedData = undefined"
        (changed)="selectedData.callback ? selectedData.callback($event) : null"
      >
      </app-extended-menu>
    </div>
  </ng-container>
</div>
