<div
  class="w-full h-full flex justify-between content-start"
  style="overflow-y: hidden"
>
  <!-- <ng-container *ngIf="!openWorldScene"> -->
  <div
    class="secondary-background-{{
      theme
    }} h-full w-[57px] flex justify-between items-center flex-col border-table-right-{{
      theme
    }}"
  >
    <div class="w-full h-full flex justify-start items-center flex-col">
      <!-- <div
        class="h-full proj mt-0 flex justify-center items-center"
        style="aspect-ratio: 1"
        role="button"
        [matTooltip]="'Center Align'"
        [matTooltipPosition]="'below'"
        (click)="(null)"
      >
        <div
          class="mx-2 primary-text fw-bold flex justify-center items-center"
          style="aspect-ratio: 1"
          role="button"
        >
          <mat-icon>center_focus_strong</mat-icon>
        </div>
      </div> -->
      <!-- <div
        class="h-full proj mt-0 flex justify-center items-center"
        style="aspect-ratio: 1"
        role="button"
        [matTooltip]="'Toggle Grid'"
        [matTooltipPosition]="'below'"
        (click)="showGrid = !showingGrid"
      >
        <div
          class="mx-2 primary-text fw-bold flex justify-center items-center"
          style="aspect-ratio: 1"
          role="button"
        >
          <mat-icon>{{ showingGrid ? "grid_on" : "grid_off" }}</mat-icon>
        </div>
      </div> -->

      <div
        class="w-full proj{{
          mode == 'scenes' ? '-select' : ''
        }} ms-0 py-3 flex justify-center items-center primary-text-{{ theme }}"
        [matTooltip]="'Scenes'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('scenes')"
      >
        <div class="w-full flex justify-center items-center" #folderToggle>
          <div class="flex justify-center items-center" role="button">
            <mat-icon>view_stream</mat-icon>
          </div>
        </div>
      </div>
      <!-- <div
        class="w-full proj{{
          mode == 'textures' ? '-select' : ''
        }}  ms-0 py-3 flex justify-center items-center"
        [matTooltip]="'Textures'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('textures')"
      >
        <div
          class="w-full flex justify-center items-center"
          #folderToggle
        >
          <div
            class="flex justify-center items-center"
            role="button"
          >
            <mat-icon>image</mat-icon>
          </div>
        </div>
      </div> -->

      <div
        class="w-full proj{{
          mode == 'characters' ? '-select' : ''
        }}  ms-0 py-3 flex justify-center items-center primary-text-{{ theme }}"
        [matTooltip]="'Characters'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('characters')"
      >
        <div class="w-full flex justify-center items-center" #folderToggle>
          <div class="flex justify-center items-center" role="button">
            <mat-icon>accessibility_new</mat-icon>
          </div>
        </div>
      </div>

      <div
        class="w-full proj{{
          mode == 'assets' ? '-select' : ''
        }}  ms-0 py-3 flex justify-center items-center primary-text-{{ theme }}"
        [matTooltip]="'3D Assets'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('assets')"
      >
        <div class="w-full flex justify-center items-center" #folderToggle>
          <div class="flex justify-center items-center" role="button">
            <mat-icon>apartment</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <ng-container *ngIf="mode != 'none'">
    <div
      class="primary-background h-full border-table-right"
      style="width: 250px !important"
    >
      <app-file-sidebar [models]="items" *ngIf="mode == 'scenes'">
      </app-file-sidebar>

      <app-character-view-module
        (openMenu)="openMenu($event.comp, $event.data, $event.callback)"
        (close)="selectedData = undefined"
        *ngIf="mode == 'characters'"
      ></app-character-view-module>

      <app-image-module
      (openMenu)="openMenu($event.comp, $event.data, $event.callback)"
      (close)="selectedData = undefined"
      *ngIf="mode == 'textures'"
    ></app-image-module>

      <app-asset-view-module
        (openMenu)="openMenu($event.comp, $event.data, $event.callback)"
        (close)="selectedData = undefined"
        *ngIf="mode == 'assets'"
      ></app-asset-view-module>
    </div>

    <div
      class="h-full border-table-right primary-background"
      style="width: 400px !important; overflow-x: hidden; flex-shrink: 0"
      *ngIf="selectedData"
    >
      <app-extended-menu
        [data]="selectedData.data"
        (close)="selectedData = undefined"
        (changed)="selectedData.callback ? selectedData.callback($event) : null"
      >
      </app-extended-menu>
    </div>
  </ng-container> -->
</div>
