<div
  class="w-full h-full flex justify-between content-start"
  style="overflow-y: hidden"
>
  <!-- <ng-container *ngIf="!openWorldScene"> -->
  <div
    class="secondary-background-{{
      theme
    }} h-full w-[75px] flex justify-between items-center flex-col"
  >
    <div class="w-full h-full flex justify-start items-center flex-col">
      <!-- <div
        class="h-full proj mt-0 flex justify-center items-center"
        style="aspect-ratio: 1"
        role="button"
        [matTooltip]="'Center Align'"
        [matTooltipPosition]="'below'"
        (click)="(null)"
      >
        <div
          class="mx-2 primary-text fw-bold flex justify-center items-center"
          style="aspect-ratio: 1"
          role="button"
        >
          <mat-icon>center_focus_strong</mat-icon>
        </div>
      </div> -->
      <!-- <div
        class="h-full proj mt-0 flex justify-center items-center"
        style="aspect-ratio: 1"
        role="button"
        [matTooltip]="'Toggle Grid'"
        [matTooltipPosition]="'below'"
        (click)="showGrid = !showingGrid"
      >
        <div
          class="mx-2 primary-text fw-bold flex justify-center items-center"
          style="aspect-ratio: 1"
          role="button"
        >
          <mat-icon>{{ showingGrid ? "grid_on" : "grid_off" }}</mat-icon>
        </div>
      </div> -->

      <div
        class="w-full proj{{
          mode == 'design' ? '-select' : ''
        }} ms-0 py-3 flex justify-center items-center text-slate-300 aspect-square opacity-50"
        [matTooltip]="'Default Templates coming soon!'"
        [matTooltipPosition]="'right'"
        role="button"        
      >
      <!-- (click)="changeMode('design')" -->

        <div
          class="w-full flex justify-center items-center flex-col"
          #folderToggle
        >
          <div
            class="flex justify-center items-center text-[24px]"
            role="button"
          >
            <ng-icon
              class="font-bold"
              name="heroGlobeAmericas"
              [strokeWidth]="2.2"
            >
            </ng-icon>
          </div>
          <span class="w-full text-center text-[10px] mt-1 font-medium">
            Design
          </span>
        </div>
      </div>
      <!-- <div
        class="w-full proj{{
          mode == 'textures' ? '-select' : ''
        }}  ms-0 py-3 flex justify-center items-center"
        [matTooltip]="'Textures'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('textures')"
      >
        <div
          class="w-full flex justify-center items-center"
          #folderToggle
        >
          <div
            class="flex justify-center items-center"
            role="button"
          >
            <mat-icon>image</mat-icon>
          </div>
        </div>
      </div> -->

      <div
        class="w-full proj{{
          mode == 'elements' ? '-select' : ''
        }}  ms-0 py-3 flex justify-center items-center text-slate-300 aspect-square"
        [matTooltip]="'Elements'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('elements')"
      >
      <!-- changeMode('elements') -->

        <div
          class="w-full flex justify-center items-center flex-col"
          #folderToggle
        >
          <div
            class="flex justify-center items-center text-[24px]"
            role="button"
          >
            <ng-icon class="font-bold" name="heroCube" [strokeWidth]="2.2">
            </ng-icon>
          </div>
          <span class="w-full text-center text-[10px] mt-1 font-medium">
            Elements
          </span>
        </div>
      </div>

      <div
        class="w-full proj{{
          mode == 'uploads' ? '-select' : ''
        }} ms-0 py-3 flex justify-center items-center text-slate-300 aspect-square"
        [matTooltip]="'Uploads'"
        [matTooltipPosition]="'right'"
        role="button"
        (click)="changeMode('uploads')"
      >
        <div
          class="w-full flex justify-center items-center flex-col"
          #folderToggle
        >
          <div
            class="flex justify-center items-center text-[24px]"
            role="button"
          >
            <ng-icon
              class="font-bold"
              name="heroCloudArrowUp"
              [strokeWidth]="2.2"
            >
            </ng-icon>
          </div>
          <span class="w-full text-center text-[10px] mt-1 font-medium">
            Uploads
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- <ng-container *ngIf="mode != 'none'">
    <div
      class="primary-background h-full border-table-right"
      style="width: 250px !important"
    >
      <app-file-sidebar [models]="items" *ngIf="mode == 'scenes'">
      </app-file-sidebar>

      <app-character-view-module
        (openMenu)="openMenu($event.comp, $event.data, $event.callback)"
        (close)="selectedData = undefined"
        *ngIf="mode == 'characters'"
      ></app-character-view-module>

      <app-image-module
      (openMenu)="openMenu($event.comp, $event.data, $event.callback)"
      (close)="selectedData = undefined"
      *ngIf="mode == 'textures'"
    ></app-image-module>

      <app-asset-view-module
        (openMenu)="openMenu($event.comp, $event.data, $event.callback)"
        (close)="selectedData = undefined"
        *ngIf="mode == 'assets'"
      ></app-asset-view-module>
    </div>

    <div
      class="h-full border-table-right primary-background"
      style="width: 400px !important; overflow-x: hidden; flex-shrink: 0"
      *ngIf="selectedData"
    >
      <app-extended-menu
        [data]="selectedData.data"
        (close)="selectedData = undefined"
        (changed)="selectedData.callback ? selectedData.callback($event) : null"
      >
      </app-extended-menu>
    </div>
  </ng-container> -->
</div>
