.proj{
    color: var(--primaryTextColor);
}

.proj:hover {
  background-color: var(--primarySectionHoverColor);
}

.proj-select {
  background-color: var(--primaryColor);
  color: var(--dark--primaryTextColor);
}
