<div class="w-100 h-100 primary-background rounded d-flex justify-content-between align-items-center flex-column">
    <div class="w-100 secondary-background" style="aspect-ratio: 1; flex-grow: 1; flex-shrink: 0;">

    </div>
    <!-- <img > -->

    <div class="w-100 h-100 p-3 d-flex justify-content-start align-items-start flex-column" style="flex-shrink: 1;">
        <span class="h4 primary-text w-75 text-truncate">{{scene?.name}}</span>
        <p class="primary-text w-100 text-truncate mt-2">{{scene?.description}}</p>
    </div>
</div>